

.App {
  text-align: center;
  // height: 100%;
}


// NAVIGATION



.navBar {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: inherit;
    :hover,:active {
      color: #e99b16;
    }
    li {
      display: inline-block;
      list-style: none;
      padding: 0 15px;
    }
  }
  .navButton {
    width: 100%;
    font-size: 1.7em;
    text-align: right;
    margin: 0;
    padding: 7px 0;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

.logo {
  display: inline-block;
  padding-left: 15px;
}

.navMenu {
  z-index: 200;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  position: fixed;
  box-shadow: 8px 0 17px 1px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  transform: translateX(-130%);
  transition: transform 250ms ease-out;
  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    text-transform: uppercase;
    li {
      margin: 0.5rem 0;
      :hover,:active {
        color: #e99b16;
      }
      a {
        text-decoration: none;
        color: inherit;
        margin: 0 auto;
      }
    }
  }
}

.navMenu.open {
  transform: translateX(-10%);
}

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

@media (max-width: 750px) {
  .navBar a li {
    display: none;
  }

  .navButton {
    display: inline-block;
  }
}
@media (min-width: 750px) {
  .navButton {
    display: none;
  }
}


// HOME PAGE //


.homePage {
  // height: 100%;
  background-color: pink;

  .homeContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
    padding: 150px 0 100px 0;
    margin: 0 auto;
    .title {
      font-size: 4em;
      margin-bottom: 40px;
    }
    .subTitle {
      font-size: 1.8em;
      margin-bottom: 80px;
    }
    .learnMoreBtn {
      margin: 0 auto;
      button {
        padding: 15px 25px;
        background: yellow;
        border: none;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 750px) {
  .homePage {
    .homeContent {
      .title {
        font-size:3em;
        margin-bottom: 20px;
      }
      .subTitle {
        font-size: 1.4em;
        margin-bottom: 80px;
      }
    }
  }
}
